.mat-action-row {
  text-align: right;

  .container-button-save {
    margin-left: 10px;

    .save-button {
      mat-icon {
        margin-left: 8px;
      }
    }
  }
}

/*

 ::ng-deep .mat-focused .mat-form-field-label {
  color: green !important;
 }

 ::ng-deep.mat-form-field-underline {
  background-color: green !important;
} 

::ng-deep.mat-form-field-ripple {
 background-color: green !important;;
}

*/
