<div class="d-flex align-items-center">
  <h1 style="margin: 0px;">	 
    Ordem de Serviço
  </h1>
  <button mat-raised-button  class="bg-success d-flex align-items-center container-add-button" routerLink="/service-order/add-service-order">
    <span>Adicionar</span> 
    <mat-icon>add</mat-icon>
  </button>
</div>
<br/>

<app-search-service-order (formSearch)="searchByFilter($event)"></app-search-service-order>
<app-table-service-order [dataSource]="data.content"  ></app-table-service-order>
<!-- <app-pagination-table (currentPage)="searchByPage($event)"[pageable]="data"></app-pagination-table> -->
