<div class="container-header d-flex justify-content-between align-items-center header-mat-dialog">
  <h1 mat-dialog-title style="margin: 0px">
    {{ this.data ? 'Editar Cliente - ' + this.data.name : 'Novo Cliente' }}
  </h1>  
  <mat-icon mat-dialog-close>close</mat-icon>
</div>

  <div mat-dialog-content style="width: 75vw;">
    <form [formGroup]="formGroup" class="row">
      <mat-form-field appearance="fill" class="col">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col">
        <mat-label>Whats/Telefone</mat-label>
        <input matInput formControlName="phoneNumber">
      </mat-form-field>

      <div class="w-100"></div>

      <mat-form-field appearance="fill" class="col">
        <mat-label>CEP</mat-label>
        <input matInput [mask]=cepMask formControlName="cep" (ngModelChange)="findCep()">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="uf">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col" >
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>


      <mat-form-field appearance="fill" class="col">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="logradouro">
      </mat-form-field>
      <mat-action-row>
        <!--button mat-flat-button class="bg-danger" (click)="verifyIfCanClearForm()"><mat-icon>delete</mat-icon></button>-->
        <button mat-flat-button class="bg-success container-button-save" (click)="submitForm()">
          <div class="d-flex align-items-center save-button">
            Salvar
            <mat-icon>save</mat-icon>
          </div>
        </button>
        
      </mat-action-row>
      
    </form>
  </div>
  