.mat-action-row {
  text-align: right;

  .container-button-save {
    margin-left: 10px;

    .save-button {
      mat-icon {
        margin-left: 8px;
      }
    }
  }
}

.container-header {
  margin-bottom: 40px;
}


/*
 ::ng-deep .mat-focused .mat-form-field-label {
  color: green !important;
 }

 ::ng-deep.mat-form-field-underline .mat-form-field-ripple{
  background-color: rgba(255, 0, 0, 0.521) !important;
} 


::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}
*/



