<div>
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center">
      <h1>Dashboard</h1>
    </div>
    
    <!--AJUSTAR ISSO -- TEMP!!!!!! -->
    <div class="d-flex">    
      <button 
      mat-raised-button 
      class="bg-warning text-black"
      matBadge="25" 
      matBadgePosition="after" 
      matBadgeColor="primary"
    >
      Ordens de Serviços pendentes
    </button>

    <button 
      mat-raised-button 
      class="bg-danger"

      style="margin-left:30px"
      matBadge="8" 
      matBadgePosition="after" 
      matBadgeColor="primary"
   
    >
      Ordens de Serviços com mais de X dias
    </button>
  </div>



  </div>
</div>