<mat-card>
  <mat-card-title-group>
    <mat-card-title>	 
      <mat-icon routerLink="/client">arrow_back</mat-icon> 
      Adicionar cliente
    </mat-card-title>
 
  </mat-card-title-group>
  <br/>

  <mat-card-content>
    <form [formGroup]="formGroup">
      <div class="row">
        <mat-form-field appearance="outline" class="col">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="" autoComplete='none' [matAutocomplete]="auto" formControlName="name" (ngModelChange)="findClientsByName($event)" >
          <mat-icon matSuffix>person</mat-icon>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="changeClient($event.option.value)">
            <mat-option *ngFor="let option of clientsRegistereds" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="col">
          <mat-label>Whats / Telefone</mat-label>
          <input matInput placeholder="" formControlName="phoneNumber" autoComplete='none'>
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
    
     
        <mat-form-field appearance="outline" class="col">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" formControlName="email" autoComplete='none'>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="col">
          <mat-label>CPF / CNPJ</mat-label>
          <input matInput placeholder="" formControlName="cpfCnpj" autoComplete='none'>
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <div class="w-100"></div>
    
        <mat-form-field appearance="outline" class="col" formGroupName="address">
          <mat-label>CEP</mat-label>
          <input matInput placeholder="" formControlName="cep" [mask]=cepMask (ngModelChange)="findCep()" autoComplete='none'>
          <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="col" formGroupName="address">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder=""  formControlName="city" autoComplete='none'>
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="col" formGroupName="address">
          <mat-label>Estado</mat-label>
          <input matInput placeholder="" formControlName="uf" autoComplete='none'>
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="col" formGroupName="address">
          <mat-label>Logradouro</mat-label>
          <input matInput placeholder=""  formControlName="logradouro" autoComplete='none'>
          <mat-icon matSuffix>call_merge</mat-icon>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="col" formGroupName="address">
          <mat-label>Complemento</mat-label>
          <input matInput placeholder="" formControlName="complement" autoComplete='none'>
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
      </div>
    
    <div class="actions">
      <button mat-raised-button color="primary" class="container-button-delete" (click)="clearForm()" type="button">
        <div class="d-flex align-items-center delete-button">
          <mat-icon>delete</mat-icon>
        </div>
      </button>
      <button mat-raised-button class="bg-success container-button-save" (click)="submitForm()">
        <div class="d-flex align-items-center save-button">
          Salvar
          <mat-icon>save</mat-icon>
        </div>
      </button>
    </div>
    </form>

  </mat-card-content>

</mat-card>

