mat-card-title {
  display: flex;
  align-items: center;
  margin: 0px;
  mat-icon {
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      filter: contrast(10%);
    }
  }
}

.actions {
  display: flex;
  justify-content: end;
  .container-button-delete{
    margin-right: 10px;
    .delete-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .container-button-save {
    .save-button {
      mat-icon {
        margin-bottom: 1px;
        margin-left: 8px;
      }
    }
  }
}


.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}