<form (changes)="sendChanges()" [formGroup]="formGroup">
  <mat-expansion-panel [expanded]="true" class="mt-1">
    <mat-expansion-panel-header tabindex="-1" name="f1">
      <mat-panel-title>
        Número OS: <strong style="margin-left:5px;">{{ this.formGroup.value.numberOrder }}</strong>
      </mat-panel-title>
      <mat-panel-description>
        Data Entrada / Data Saída / Garantia
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <mat-form-field appearance="outline" class="col">
        <mat-label>Número OS</mat-label>
        <input matInput formControlName="numberOrder" autoComplete='none' type="number" />
      </mat-form-field>

      <!-- <div class="w-100"></div>
  
      <mat-form-field appearance="outline" class="col">
        <mat-label>Defeito</mat-label>
        <textarea matInput formControlName="defect"></textarea>
      </mat-form-field> 

      <div class="w-100"></div>

      <mat-form-field appearance="outline" class="col">
        <mat-label>Diagnostico</mat-label>
        <textarea matInput formControlName="diagnostic"></textarea>        
      </mat-form-field>    -->
    </div> 
  </mat-expansion-panel>
</form>
