<mat-expansion-panel class="container-search mt-1"  [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Buscar por filtro
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form class="row" [formGroup]="formGroup">
    <mat-form-field appearance="outline" class="col-lg-6">
      <mat-label>Nome do Cliente</mat-label>
      <input matInput formControlName="name">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-3" >
      <mat-label>NR. da OS</mat-label>
      <input matInput formControlName="numberOrder" >
      <mat-icon matSuffix>subject</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-lg-3" >
      <mat-label>NR. de Série do Equipamento</mat-label>
      <input matInput formControlName="serialNumber">
      <mat-icon matSuffix>desktop_windows</mat-icon>
    </mat-form-field>

    <div class="w-100"></div>

    <mat-form-field appearance="outline" class="col-lg-4">
      <mat-label>Data de Entrada</mat-label>
      <mat-date-range-input formGroupName="enteredIn" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Em">
        <input matEndDate formControlName="end" placeholder="Até">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="col-lg-4">
      <mat-label>Data de Saída</mat-label>
      <mat-date-range-input formGroupName="exitIn" [rangePicker]="picker1">
        <input matStartDate formControlName="start" placeholder="Em">
        <input matEndDate formControlName="end" placeholder="Até">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-date-range-picker #picker1></mat-date-range-picker>
    </mat-form-field>

    <!-- <mat-form-field class="col-lg-4" appearance="outline">
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip
          *ngFor="let fruit of fruits"
          (removed)="remove(fruit)">
          {{fruit}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Tipo de Equipamento"
          #fruitInput
          [formControl]="fruitCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
          {{fruit}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->


    <mat-form-field appearance="outline" class="col-lg-4">
      <mat-label>Tipo do Equipamento</mat-label>
      <mat-select formControlName="equipmentType">
        <mat-option *ngFor="let type of equipmentTypeList" [value]="type.key">
          {{type.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>   

    <mat-chip-list class=" col" aria-label="Color selection">
      <mat-chip 
        *ngFor="let status of orderStatusList; index as i" 
        [ngStyle]="{'background-color': [status.color]}"
      >
      <mat-checkbox (change)="status.selected=!status.selected">
        {{status.name}}
      </mat-checkbox>
      </mat-chip>
    </mat-chip-list>
  
    <mat-action-row class="mt-3">
      <button 
        mat-raised-button 
        class="bg-danger"
        (click)="openConfirmDialog()"
        >
        <mat-icon>delete</mat-icon>
      </button>
      <button 
        mat-raised-button 
        class="d-flex align-items-center bg-success container-search-button"
        (click)="search()"
      >
        <div class="d-flex align-items-center search-button">
            Buscar
          <mat-icon>search</mat-icon>
        </div>
      </button>
      
    </mat-action-row>
  </form>
</mat-expansion-panel>
