<div>
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center">
<!--      <button routerLink="/client" mat-icon-button color="accent" aria-label="Example icon button with a delete icon" style="margin-right: 10px;">
        Voltar
        <mat-icon>keyboard_backspace</mat-icon>
      </button>-->
      <button mat-icon-button routerLink="/client">
        <mat-icon>keyboard_return</mat-icon>
      </button>
      <h1>Novo Cliente</h1>
    </div>
    <app-form-add-client></app-form-add-client>
  </div>
</div>