<div class="container-sidenav">
  <mat-icon  
    [@onSideNavChange]="isOpen ? 'open' : 'closed'" 
    class="open-close-container" 
    (click)="isOpen=!isOpen; drawer.toggle()"
  >
    keyboard_arrow_right
  </mat-icon> 

 <mat-drawer-container autosize>
    <mat-drawer 
      [opened]="true"
      #drawer 
      class="sidenav" 
      mode="side"
    >
    <div class="container-item-menu">
      <app-item-menu
        *ngFor="let menu of menuItems"
        iconName={{menu.iconName}}
        routerLink={{menu.routerLink}} 
        [class.selected]="menu.value === selectedMenu"
        (click)="handleSelectedMenu(menu)"
      ></app-item-menu>
      <div class="logoff" (click)="logoff()">
      <mat-icon class="logoff">exit_to_app</mat-icon>
      </div>
    </div>
    </mat-drawer>
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>

</div>
