<!--
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>	 
      Clientes
    </mat-card-title>
    <button mat-raised-button color="primary" class="bg-success" routerLink="/client/add-client">
      Adicionar Cliente
    </button>
 
  </mat-card-title-group>

</mat-card>

-->

<div class="d-flex align-items-center">
  <h1 style="margin: 0px;">	 
    Cliente
  </h1>
  <button mat-raised-button  class="bg-success d-flex align-items-center container-add-button" routerLink="/client/add-client">
    <span>Adicionar</span> 
    <mat-icon>add</mat-icon>
  </button>
</div>
<br/>

<div>
  <div class="d-flex flex-column">
   
    <!--<hr/>-->
    <app-search-client></app-search-client>
    <app-table-client
      [dataSource]="dataSource.content"
    ></app-table-client>

    <app-pagination-table
      (currentPage)="searchByPage($event)"
      [pageable]="dataSource"
    ></app-pagination-table>

  </div>
</div>

<!--routerLink="add-client"-->